{% extends 'basic_app/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1 class="display-4">Please Login!</h1>
    <form method= "post" action="{% url 'basic_app:user_login' %}">
        {% csrf_token %}
        {# A more "HTML" way of creating the login form#}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password"></label>
        <input type="password" name="password">

        <input type="submit" name="" value="Login">

    </form>
    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> -->
  </div>
{% endblock %}